<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for Sent Link Page </title>
</head>
<body>
    <h1>
        Login Page
    </h1>
    <br>
    <br>
    <br>
    <h2>
        for Sent Request <a href="http://localhost:3000/loginPage"+_id+></a>" 
    </h2>
</body>
</html>